*.pyc
.ipynb_checkpoints
wandb
results
Pattern_Generator_Secret.py
error_log.txt
LJ_Load.pickle

hificodec/
results*
dac/
VCTK_Load.pickle
note_error/
note_fix/
.vscode/settings.json
Train_.py
temp*.py
