*.pyc
.ipynb_checkpoints
wandb
results
Pattern_Generator_Secret.py
error_log.txt
LJ_Load.pickle

hificodec/
results*
dac/
VCTK_Load.pickle
note_error/
note_fix/
.vscode/settings.json
Train_.py
temp*.py
BigVGAN_24K_100band_256x.pts
Quality_Check/
BigVGAN_44K_128band_256x.pts
rmvpe_cpu.pts
rmvpe_cuda.pts
Tech_Detector.pts
temp.pickle
x.py
xxx.py
xxxx.pickle
x.png
x.py

Pattern_/
token_check/